*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #F8F4EC;
}

/* Sign Up */
.signup{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
}
.signup-illustration{
    width: 50%;
    height: 100%;
    background-color: #405457;
}
.signup-illustration img{
    width: 90%;
    height: 80%;
    object-fit: cover;
    margin-left: 5%;
}
.signup-form{
    width: 50%;
    height: 100%;
    align-items: center;
}
.signup h3{
    width: 70%;
    font-family: 'Cardo', serif;
    font-size: 40px;
    color: #405457;
    margin: auto;
    padding-top: 40px;
    text-align: center;
    padding-bottom: 10px;
}
.signup-desc{
    width: 70%;
    font-size: 14px;
    text-align: center;
    margin: auto;
    color:#303440;
    font-family: 'Montserrat', sans-serif;
}
.signup-inputs{
    width: 100%;
    height: 85%;
    margin-top: 20px;
}
.signup-input{
    display: flex;
    flex-direction: row;
    width: 60%;
    height: 45px;
    margin: auto;
    margin-bottom: 20px;
}
.signup-input input{
    width: 100%;
    background-color: #F8F4EC;
    border: 1px solid #303440;
    border-radius: 10px;
    font-family: 'Montserrat', sans-serif;
    padding-left: 8px;
    color: #303440;
    outline: none;
}
.signup-inputs button{
    width: 60%;
    height: 45px;
    background-color: #D63484;
    color: #F8F4EC;
    font-family: 'Montserrat', sans-serif;
    border: none;
    outline: none;
    border-radius: 10px;
    margin-left: 20%;
}
.terms-and-conditions{
    display: flex;
    justify-content: center;
    width: 60%;
    height: 45px;
    margin: auto;
}
.checkbox{
    width: 15px;
    height: 15px;
}
.policy-text{
    display: flex;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
}
.privacy-link{
    margin-left: 5px;
    margin-right: 5px;
    color: #D63484;
    font-weight: bold;
}
.or{
    text-align: center;
    margin-top: 20px;
    margin-top: 20px;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    color: #303440;
    font-weight: bold;
}
.google{
    display: flex;
    flex-direction: row;
    width: 60%;
    height: 45px;
    margin: auto;
    margin-bottom: 20px;
    background-color:gainsboro;
    margin-top: 20px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.google img{
    width: 30px;
    height: 30px;
    object-fit: cover;
}
.google p{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    color: #303440;
    font-weight: bold;
    margin-left: 10px;
}
.have-account{
    display: flex;
    justify-content: center;
    width: 60%;
    height: 45px;
    margin: auto;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
}