@import url("https://fonts.googleapis.com/css2?family=Cardo:ital,wght@0,400;0,700;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&family=Yeseva+One&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: #f8f4ec;
  overflow-x: hidden;
}

/* Navigation Menu */
.nav-bar {
  width: 90vw;
  height: 8vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: solid 1px #303440;
  margin-bottom: 20px;
  position: fixed;
  top: 0;
  margin-left: 5vw;
  background-color: #f8f4ec;
  z-index: 99;
}
.logo {
  width: 120px;
  height: 60%;
  display: flex;
  margin: 0;
}
.logo1 {
  font-size: 28px;
  font-family: "Montserrat", sans-serif;
  color: #405457;
}
.logo2 {
  font-size: 28px;
  font-family: "Cardo", serif;
  font-weight: bold;
  color: #d63484;
}
.logolight {
  width: 150px;
  height: 20%;
  display: flex;
  margin-left: 30px;
  margin-top: 20px;
}
.logolight1 {
  font-size: 32px;
  font-family: "Montserrat", sans-serif;
  color: #f8f4ec;
}
.logolight2 {
  font-size: 30px;
  font-family: "Cardo", serif;
  font-weight: bold;
  color: #d63484;
}
.logodark {
  width: 150px;
  height: 20%;
  display: flex;
  margin-left: 30px;
  margin-top: 20px;
}
.logodark1 {
  font-size: 32px;
  font-family: "Montserrat", sans-serif;
  color: #f8f4ec;
}
.logodark2 {
  font-size: 30px;
  font-family: "Cardo", serif;
  font-weight: bold;
  color: #f8f4ec;
}
.menu {
  width: 85%;
  height: 60%;
  display: flex;
  justify-content: space-between;
}
.menu-items {
  width: 40%;
  height: 100%;
}
.menu-items ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
.menu-items ul li {
  list-style: none;
}
.link {
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  color: #405457;
}
.search-section {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.search-input {
  background-color: #f8f4ec;
  height: 30px;
  width: 150px;
  font-family: "Montserrat", sans-serif;
  margin-right: 20px;
  outline: none;
  border: none;
  border-bottom: 1px solid #303440;
  padding-left: 10px;
}
.signin-link {
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  color: #405457;
  font-size: 14px;
}
.signup-link {
  font-family: "Montserrat", sans-serif;
  color: #f8f4ec;
  outline: none;
  background-color: #d63484;
  border: none;
  height: 30px;
  width: 120px;
  font-size: 14px;
  cursor: pointer;
}
.line {
  width: 1px;
  height: 30px;
  background-color: #303440;
  margin-left: 10px;
}
.burger-menu {
  width: 2vw;
  display: none;
  margin-right: 0;
}

.page-sections {
  position: absolute;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  top: 8vh;
  width: 90%;
}
.section-1 {
  width: 100%;
}
.section-2 {
  width: 100%;
}
.section-3 {
  width: 100%;
}
.section-4 {
  width: 100%;
}

/* Hero Section */
.hero-section {
  width: 90vw;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: space-between;
  margin-left: 5vw;
  align-items: center;
}
.hero-text {
  width: 100%;
}
.hero-text h2 {
  font-family: "Cardo", serif;
  font-size: 55px;
  color: #d63484;
}
.hero-text p {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  color: #303440;
  width: 80%;
}
.explore {
  width: 150px;
  height: 30px;
  color: #f8f4ec;
  background-color: #405457;
  outline: none;
  border: none;
  margin-top: 20px;
}

.hero-images {
  width: 100%;
  height: 400px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 20px;
  margin-top: 30px;
  margin-bottom: 30px;
}
.hero-images h6 {
  font-size: 18px;
  font-family: "Cardo", serif;
  color: #405457;
  margin-bottom: 5px;
}
.hero-images p {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  color: #303440;
  margin-bottom: 10px;
}
.book1 {
  width: 100%;
  height: 40vh;
  border-radius: 0px 0px 75px 75px;
}
.book1 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0px 0px 100px 100px;
}
.book2 {
  width: 100%;
  height: 40vh;
  border-radius: 100px 100px 0 0;
}
.book2 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 100px 100px 0 0;
}
.book3 {
  width: 100%;
  height: 40vh;
  border-radius: 0px 0px 100px 100px;
}
.book3 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0px 0px 100px 100px;
}

/* Recommended Section */
.recommended {
  width: 90vw;
  margin-left: 5vw;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}
.recommended-text {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}
.recommended h4 {
  font-size: 18px;
  font-family: "Cardo", serif;
  color: #d63484;
  font-weight: bold;
}
.see-more {
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  color: #d63484;
  font-weight: bold;
}
.recommended-books {
  width: 100%;
}
.recommended-books ul {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 15px;
}
.recommended-books li {
  width: 100%;
  list-style: none;
}
.cover {
  width: 100%;
  height: 70%;
  object-fit: cover;
}
.star {
  width: 20px;
  height: 20px;
  object-fit: cover;
}
.recommended-books h6 {
  font-size: 16px;
  font-family: "Cardo", serif;
  color: #405457;
  margin-bottom: 5px;
  margin-top: 5px;
}
.recommended-books p {
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  color: #303440;
  margin-bottom: 5px;
}
.goodreads-ratings {
  display: flex;
}
.recommended button {
  width: 120px;
  height: 30px;
  background-color: #d63484;
  color: #f8f4ec;
  border: none;
  outline: none;
  margin-top: 5px;
  font-family: "Montserrat", sans-serif;
}
.see-more2 {
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  color: #405457;
  font-weight: bold;
}
/* 
Trending Books */

.trending {
  width: 90vw;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  margin-left: 5vw;
  margin-top: 30px;
}
.trending-text {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
.trending h4 {
  font-size: 18px;
  font-family: "Cardo", serif;
  color: #405457;
  font-weight: bold;
}
.trending p {
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  color: #303440;
  margin-bottom: 5px;
}
.trending-books {
  width: 100%;
  height: 70%;
}
.trending-books ul {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 12px;
}
.trending-books li {
  width: 100%;
  height: 100%;
  list-style: none;
}
.trending-books h6 {
  font-size: 16px;
  font-family: "Cardo", serif;
  color: #d63484;
  margin-top: 5px;
  margin-bottom: 5px;
  width: 100%;
}
.trending-books p {
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  color: #303440;
  margin-bottom: 5px;
}
.trending button {
  width: 120px;
  height: 30px;
  background-color: #405457;
  color: #f8f4ec;
  border: none;
  outline: none;
  margin-top: 5px;
  font-family: "Montserrat", sans-serif;
}

.footer {
  width: 100%;
  display: grid;
  column-gap: 15px;
  border-top: solid 1px #303440;
}
.footer-container {
  width: 90%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  height: 100%;
  margin: auto;
}
.logo-container {
  width: 100%;
  height: 80%;
  margin-top: 30px;
}
.footer-info {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
  height: 80%;
  margin-top: 30px;
  display: flex;
}
.footer-image {
  width: 70%;
  height: 100%;
  margin: auto;
}
.footer-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin: 0 auto;
}
.copyright p {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  color: #303440;
  font-weight: 500;
}
.Company {
  width: 50%;
  height: 100%;
}
.footer h4 {
  font-family: "Cardo", serif;
  font-size: 18px;
  color: #405457;
  font-weight: bold;
}
.Company p {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  color: #303440;
  font-weight: 500;
  margin-top: 5px;
}
.socials {
  width: 100%;
  height: 100%;
}
.social-icons {
  width: 100%;
  height: 20px;
  display: flex;
  margin-top: 20px;
}
.social {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}
.social img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Mobile View */
@media screen and (max-width: 600px) and (min-width: 280px) {
  body {
    overflow-x: hidden;
  }
  .burger-menu {
    width: 30px;
    height: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 2rem;
    cursor: pointer;
  }
  .lines {
    background-color: #d63484;
    width: 100%;
    height: 2px;
  }
  .menu {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 8vh;
    background-color: #f8f4ec;
    width: 100%;
    height: 40vh;
    align-items: center;
    border-bottom: solid 1px #303440;
  }
  .menu-items ul {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    height: 70%;
  }
  .search-section {
    display: flex;
    flex-direction: column;
    height: 25%;
    margin-bottom: 30px;
  }
  .line {
    display: none;
  }
  .search-input {
    display: none;
  }
  .hero-section {
    width: 90vw;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-content: space-between;
    margin-left: 5vw;
  }
  .hero-text {
    width: 100%;
    margin-top: 20px;
  }
  .hero-images {
    width: 100%;
    height: 280px;
  }
  .hero-text h2 {
    font-size: 18px;
  }
  .hero-text p {
    font-size: 12px;
  }
  .book1 {
    height: 25vh;
  }
  .book2 {
    height: 25vh;
  }
  .book3 {
    height: 25vh;
  }
  .hero-images p {
    font-size: 12px;
  }
  .hero-images h6 {
    font-size: 16px;
  }
  .recommended ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 15px;
  }
  .recommended p {
    font-size: 12px;
  }
  .recommended h6 {
    font-size: 16px;
  }
  .trending-books ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .footer-container{
    display: grid;
  grid-template-columns: repeat(1, 1fr);
  }
  .copyright p{
    font-size: 12px;
  }
}

/* tablet view */
@media screen and (max-width: 1024px) and (min-width: 600px) {
  body {
    overflow-x: hidden;
  }
  .burger-menu {
    width: 30px;
    height: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 2rem;
    cursor: pointer;
  }
  .lines {
    background-color: #d63484;
    width: 100%;
    height: 2px;
  }
  .menu {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 8vh;
    background-color: #f8f4ec;
    width: 100%;
    height: 40vh;
    align-items: center;
    border-bottom: solid 1px #303440;
  }
  .menu-items ul {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    height: 70%;
  }
  .search-section {
    display: flex;
    flex-direction: column;
    height: 25%;
    margin-bottom: 30px;
  }
  .line {
    display: none;
  }
  .search-input {
    display: none;
  }
  .hero-section {
    width: 90vw;
    height: auto;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-content: space-between;
    margin-left: 5vw;
  }
  .hero-section {
    width: 90vw;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    margin-left: 5vw;
  }
  .hero-text {
    width: 100%;
    margin-top: 20px;
  }
  .hero-text h2 {
    font-size: 36px;
  }
  .hero-text p {
    font-size: 12px;
  }
  .hero-images {
    width: 100%;
    height: 400px;
  }
  .book1 {
    height: 40vh;
  }
  .book2 {
    height: 40vh;
  }
  .book3 {
    height: 40vh;
  }
  .hero-images p {
    font-size: 12px;
  }
  .hero-images h6 {
    font-size: 16px;
  }
  .recommended ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 15px;
  }
  .recommended p {
    font-size: 12px;
  }
  .recommended h6 {
    font-size: 16px;
  }
  .trending ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 15px;
  }
  .footer-container{
    display: grid;
  grid-template-columns: repeat(1, 1fr);
  }
}
