
  @import url('https://fonts.googleapis.com/css2?family=Cardo:ital,wght@0,400;0,700;1,400&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&family=Yeseva+One&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  background-color: #F8F4EC;
}

/* Navigation Menu */
.nav-bar{
  width: 90vw;
  height: 8vh;
  display: flex;
  justify-content: space-between;
  align-items: center;                                                                                                                                                                                 
  border-bottom: solid 1px #303440;
  margin-bottom: 20px;
  position: fixed;
  top: 0;
  margin-left: 5vw;
  background-color: #F8F4EC;
  z-index: 99;
}
.logo{
  width: 150px;
  height: 60%;
  display: flex;
}
.logo1{
  font-size: 32px;
  font-family: 'Montserrat', sans-serif;
  color: #405457;
}
.logo2{
  font-size: 30px;
  font-family: 'Cardo', serif;
  font-weight: bold;
  color: #D63484;
}
.menu-items{
  width: 40%;
  height: 60%;
}
.menu-items ul{
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}
.menu-items ul li{
  list-style: none;
}
.link{
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  color: #405457;
}
.search-section{
  width: 40%;
  height: 60%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.search-input{
  background-color: #F8F4EC;
  height: 30px;
  width: 200px;
  font-family: 'Montserrat', sans-serif;
  margin-right: 20px;
  outline: none;
  border: none;
  border-bottom: 1px solid #303440;
  padding-left: 10px;
}
.signin-link{
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  color: #405457;
}
.signup-link{
  font-family: 'Montserrat', sans-serif;
  color: #F8F4EC;
  outline: none;
  background-color: #D63484;
  border: none;
  height: 30px;
  width: 150px;
  font-size: 16px;
}
.line{
  width: 1px;
  height: 30px;
  background-color: #303440;
  margin-left: 10px;
}

/* Hero Section */
.hero-section{
  width: 90%;
  height: 60vh;
  margin: 0 auto;
  display: flex;
  align-items: center;
  padding-top: 40px;
  position: absolute;
  top: 8vh;
  margin-left: 5%;
}
.hero-text{
  width: 50%;
  height: 80%;
}
.hero-text h2{
  font-family: 'Cardo', serif;
  font-size: 55px;
  color: #D63484;
}
.hero-text p{
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  color: #303440;
  width: 80%;
}
.explore{
  width: 150px;
  height: 30px;
  color: #F8F4EC;
  background-color: #405457;
  outline: none;
  border: none;
  margin-top: 20px;
}

.hero-images{
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: space-between;
}
.hero-images h6{
  font-size: 18px;
  font-family: 'Cardo', serif;
  color: #405457;
  margin-bottom: 5px;
}
.hero-images p{
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  color: #303440;
  margin-bottom: 10px;
}
.book1{
  width: 30%;
  height: 40vh;
  border-radius: 0px 0px 75px 75px;
}
.book1 img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0px 0px 100px 100px;
}
.book2{
  width: 30%;
  height: 40vh;
  border-radius: 100px 100px 0 0;
}
.book2 img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 100px 100px 0 0;
}
.book3{
  width: 30%;
  height: 40vh;
  border-radius: 0px 0px 100px 100px;
}
.book3 img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0px 0px 100px 100px;
}

/* Recommended Section */
.recommended{
  width: 90vw;
  height: 40vh;
  position: absolute;
  top: 70vh;
  margin-left: 5vw;
  margin-top: 20px;
}
.recommended-text{
  width: 100%;
  height: 15%;
  display: flex;
  justify-content: space-between;
}
.recommended h4{
  font-size: 24px;
  font-family: 'Cardo', serif;
  color: #D63484;
  font-weight: bold;
}
.see-more{
  font-size: 18px;
  font-family: 'Montserrat', sans-serif;
  color: #D63484;
  font-weight: bold;
}
.recommended-books{
  width: 100%;
  height: 85%;
}
.recommended-books ul{
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 12px;
}
.recommended-books li{
  width: 227px;
  height: 100%;
  list-style: none;
}
.cover{
  width: 100%;
  height: 70%;
  object-fit: cover;
}
.star{
  width: 20px;
  height: 20px;
  object-fit: cover;
}
.recommended-books h6{
  font-size: 18px;
  font-family: 'Cardo', serif;
  color: #405457;
  margin-bottom: 5px;
  margin-top: 5px;
}
.recommended-books p{
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  color: #303440;
  margin-bottom: 5px;
}
.goodreads-ratings{
  display: flex;
}
.recommended button{
  width: 120px;
  height: 30px;
  background-color: #D63484;
  color: #F8F4EC;
  border: none;
  outline: none;
  margin-top: 5px;
  font-family: 'Montserrat', sans-serif;
}
.see-more2{
  font-size: 18px;
  font-family: 'Montserrat', sans-serif;
  color: #405457;
  font-weight: bold;
}
/* 
Trending Books */

.trending{
  width: 90vw;
  height: 40vh;
  position: absolute;
  top: 145vh;
  margin-left: 5vw;
  margin-top: 20px;
  bottom: 20px;
}
.trending-text{
  width: 100%;
  height: 15%;
  display: flex;
  justify-content: space-between;
}
.trending h4{
  font-size: 24px;
  font-family: 'Cardo', serif;
  color: #405457;
  font-weight: bold;
}
.trending p{
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  color: #303440;
  margin-bottom: 5px;                                                                                
}
.trending-books{
  width: 100%;
  height: 70%;
}
.trending-books ul{
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 12px;
}
.trending-books li{
  width: 227px;
  height: 100%;
  list-style: none;
}
.trending-books h6{
  font-size: 18px;
  font-family: 'Cardo', serif;
  color: #D63484;
  margin-top: 5px;
  height: 50px;
}
.trending-books p{
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  color: #303440;
  margin-bottom: 5px;
}
.trending button{
  width: 120px;
  height: 30px;
  background-color: #405457;
  color: #F8F4EC;
  border: none;
  outline: none;
  margin-top: 5px;
  font-family: 'Montserrat', sans-serif;
}

.footer{
  width: 100%;
  height: 30vh;
  position: absolute;
  top: 230vh;
  border-top: solid 1px #303440;
}
.footer-container{
  width: 90%;
  height: 100%;
  margin: auto;
  display: flex;
}
.logo-container{
  width: 25%;
  height: 80%;
  margin-top: 30px;
}
.footer-info{
  width: 50%;
  height: 80%;
  margin-top: 30px;
  display: flex;
}
.footer-image{
  width: 25%;
  height: 100%;
}
.footer-image img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin: 0 auto;
}
.copyright p{
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  color: #303440;
  font-weight: 500;
}
.Company{
  width: 50%;
  height: 100%;
}
.footer h4{
  font-family: 'Cardo', serif;
  font-size: 18px;
  color: #405457;
  font-weight: bold;
}
.Company p{
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  color: #303440;
  font-weight: 500;
  margin-top: 5px;
}
.socials{
  width: 100%;
  height: 100%;
}
.social-icons{
  width: 100%;
  height: 20px;
  display: flex;
  margin-top: 20px;
}
.social{
  width: 20px;
  height: 20px;
  margin-right: 10px;
}
.social img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}